@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Reset Code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #333;
}
ul {
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666;
}
/*Common Button */
.banner-btn .btn-boxed,
.info-btn {
  background-color: #85af4b;
  padding: 10px 40px;
  color: #fff;
  border-radius: 50px;
  margin-right: 20px;
  display: inline-block;
  text-transform: uppercase;
}
.banner-btn .btn-boxed:hover {
  background-color: #333;
}
.banner-btn .btn-border {
  border: 2px solid #fff;
  padding: 8px 40px;
  color: #fff;
  border-radius: 50px;
  display: inline-block;
}
.banner-btn .btn-border:hover {
  background-color: #85af4b;
  border-color: #85af4b;
}
/* Header Top */
section.header-top-area {
  background-color: #095dc7;
  padding: 10px;
}

.social-icon a {
  color: #fff;
  display: inline-block;
  margin-right: 12px;
  transition: all 0.3s;
}
.social-icon a:hover {
  color: #012c44;
}
.social-icon i {
  font-size: 14px;
}

.social-info a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-right: 30px;
}

.social-info span {
  margin-left: 10px;
}

/* Header */

ul.main-menu li {
  margin-right: 20px;
}

ul.main-menu li a {
  font-weight: 600;
  color: #012c44;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s;
}
ul.main-menu li a:hover {
  color: #095dc7;
}

/* Banner */
section.banner-area {
  background-position: center;
  background-size: cover;
  padding: 280px 0 260px;
}

section.banner-area h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 60px;
}

section.banner-area p {
  font-size: 16px;
  line-height: 30px;
  margin: 40px 0 30px;
}

/* Features */
section.features-area {
  padding: 130px 0 130px;
}

section.features-area h4 {
  font-size: 34px;
  line-height: 48px;
  color: #111111;
  font-weight: 500;
  position: relative;
}

section.features-area h4::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #135ebd;
  right: 64px;
  top: 10px;
}

section.features-area p {
  font-size: 13px;
  line-height: 28px;
}
.single-feature {
  margin-top: 60px;
}

.single-feature h5 {
  color: #111111;
  line-height: 50px;
  font-weight: 500;
}

.single-feature p {
  font-size: 10px;
  line-height: 24px;
  color: #666;
}
/* About */
section.about-area {
  background-color: #f8fafc;
  padding: 120px 0;
  border-bottom: 1px solid #e6e6e6;
}

.about-info h4 {
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
  color: #111111;
}

.about-info p {
  font-size: 14px;
  line-height: 28px;
  margin-top: 30px;
}

.about-info .info-btn {
  background-color: #e6e6e6;
  color: #135ebe;
  padding: 10px 30px;
  font-weight: 500;
}
/* Counter */
section.counter-area {
  background-color: #f8fafc;
  padding: 80px 0;
}

.single-counter h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 28px;
  color: #111;
}

.single-counter p {
  font-size: 14px;
  margin-top: 15px;
}

/* FAQ */
section.faq-area {
  padding: 120px 0;
}

section.faq-area h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 28px;
  color: #111;
  margin-bottom: 40px;
}

section.faq-area p {
  font-size: 12px;
  margin-right: 41px;
}
.author-info h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  color: #111;
}

.author-info h4 span {
  font-size: 12px;
  line-height: 28px;
  display: block;
  color: #666;
}

.faq-sample h4 {
  font-size: 16px;
  font-weight: 500;
  color: #111;
  transition: all 0.3s;
}

.faq-label {
  position: relative;
  padding: 20px 0;
  padding-left: 50px;
}
.faq-label::before {
  content: "+";
  position: absolute;
  color: #111;
  left: 0;
  top: 15px;
  background-color: #f1f1f1;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}
.faq-info {
  position: relative;
  height: 0;
  text-align: justify;
  overflow: hidden;
  transition: all 0.3s;
  padding-left: 50px;
}

.faq-example.active .faq-info {
  height: 150px;
}
.faq-example.active .faq-label::before {
  content: "-";
  background-color: #095dc7;
  color: #fff;
}
.faq-example.active .faq-label {
  color: #095dc7;
}

.faq-example i {
  background-color: #f1f1f1;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 12px;
}
