@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Reset Code */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #333;
}
ul {
  list-style: none;
}
*:focus {
  outline: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666;
}
/*Common Button */
.btn-boxed,
.info-btn {
  background-color: #85af4b;
  padding: 10px 40px;
  color: #fff;
  border-radius: 50px;
  margin-right: 20px;
  display: inline-block;
  text-transform: uppercase;
}
.btn-boxed:hover {
  background-color: #333;
  color: #fff;
}
.btn-border {
  border: 2px solid #fff;
  padding: 8px 40px;
  color: #fff;
  border-radius: 50px;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.banner-btn .btn-border:hover {
  background-color: #85af4b;
  border-color: #85af4b;
  color: #fff;
}
/* Header Top */
.header-top-area {
  background-color: #095dc7;
  padding: 10px;
}

.social-icon a {
  color: #fff;
  display: inline-block;
  margin-right: 12px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.social-icon a:hover {
  color: #012c44;
}
.social-icon i {
  font-size: 14px;
}

.social-info a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-right: 30px;
}

.social-info span {
  margin-left: 10px;
}

/* Header */

ul.main-menu li {
  margin-right: 20px;
}

ul.main-menu li a {
  font-weight: 600;
  color: #012c44;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
ul.main-menu li a:hover {
  color: #095dc7;
}

/* Banner */
section.banner-area {
  background-position: center;
  background-size: cover;
  padding: 280px 0 260px;
}

section.banner-area h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 60px;
}

section.banner-area p {
  font-size: 16px;
  line-height: 30px;
  margin: 40px 0 30px;
}

/* Features */
section.features-area {
  padding: 130px 0 130px;
}

section.features-area h4 {
  font-size: 34px;
  line-height: 48px;
  color: #111111;
  font-weight: 500;
  position: relative;
}

section.features-area h4::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #135ebd;
  right: 64px;
  top: 10px;
}

section.features-area p {
  font-size: 13px;
  line-height: 28px;
}
.single-feature {
  margin-top: 60px;
  text-align: center;
}

.single-feature h5 {
  color: #111111;
  line-height: 50px;
  font-weight: 500;
}

.single-feature p {
  font-size: 10px;
  line-height: 24px;
  color: #666;
}
/* About */
section.about-area {
  background-color: #f8fafc;
  padding: 120px 0;
  border-bottom: 1px solid #e6e6e6;
}

.about-info h4 {
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
  color: #111111;
}

.about-info p {
  font-size: 14px;
  line-height: 28px;
  margin-top: 30px;
}

.about-info .info-btn {
  background-color: #e6e6e6;
  color: #135ebe;
  padding: 10px 30px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.about-info .info-btn:hover {
  background-color: #095dc7;
  color: #fff;
}
/* Counter */
section.counter-area {
  background-color: #f8fafc;
  padding: 80px 0;
}

.single-counter h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 28px;
  color: #111;
}

.single-counter p {
  font-size: 14px;
  margin-top: 15px;
}

/* FAQ */
section.faq-area {
  padding: 120px 0;
}

section.faq-area h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 28px;
  color: #111;
  margin-bottom: 40px;
}

section.faq-area p {
  font-size: 12px;
  margin-right: 41px;
}
.author-info h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  color: #111;
}

.author-info h4 span {
  font-size: 12px;
  line-height: 28px;
  display: block;
  color: #666;
}

.faq-sample h4 {
  font-size: 16px;
  font-weight: 500;
  color: #111;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.faq-label {
  position: relative;
  padding: 20px 0;
  padding-left: 50px;
}
.faq-label::before {
  content: "+";
  position: absolute;
  color: #111;
  left: 0;
  top: 15px;
  background-color: #f1f1f1;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}
.faq-info {
  position: relative;
  height: 0;
  text-align: justify;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding-left: 50px;
}

.faq-example.active .faq-info {
  height: 150px;
}
.faq-example.active .faq-label::before {
  content: "-";
  background-color: #095dc7;
  color: #fff;
}
.faq-example.active .faq-label {
  color: #095dc7;
}

.faq-example i {
  background-color: #f1f1f1;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 12px;
}
/* CTA */
section.cta-area {
  background-position: center;
  background-size: cover;
  padding: 120px 0;
}

.cta-area h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 24px;
}

.cta-area p {
  font-size: 14px;
  line-height: 28px;
  width: 700px;
  margin: 30px auto 30px;
}
/* Projects */
section.project-area {
  padding: 120px 0;
}
section.project-area h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 28px;
  color: #111;
  margin-bottom: 40px;
}
.single-project {
  position: relative;
}

.single-project img {
  width: 100%;
}
.project-content {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.project-content::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: 0.8;
  z-index: 1;
}

.project-content i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 22px;
  z-index: 3;
  border: 1px solid #ddd;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.project-content i:hover {
  background-color: #095dc7;
  border-color: #095dc7;
}
.single-project:hover .project-content {
  opacity: 1;
  visibility: visible;
}
/* Testimonials */
section.testimonials-area {
  padding: 120px 0;
  text-align: center;
  background-position: center;
  background-size: cover;
}

section.testimonials-area h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 50px;
}
.single-testmonial p {
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  font-style: italic;
  margin-bottom: 50px;
}

.single-testmonial h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  margin-top: 15px;
}

.author-info img {
  display: inline-block;
}
ul.slick-dots {
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

ul.slick-dots li {
  display: inline;
  margin-right: 15px;
}

ul.slick-dots li button {
  border: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-indent: -9999px;
  background-color: #083065;
}

ul.slick-dots li.slick-active button {
  background-color: #2569c1;
}
/* Team */
section.team-area {
  padding: 120px 0;
}

section.team-area .section-title {
  color: #111;
  margin-bottom: 50px;
}

.tem-img {
  background-position: center;
  background-size: cover;
  padding-top: 321px;
}

.single-team h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 25px;
  color: #111;
}

.single-team h4 span {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  color: #999;
  margin-bottom: 15px;
}

.single-team p {
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
}

.single-team a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ddd;
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.single-team a:hover {
  color: #111;
}
/* Clients */
.clients-area {
  background-color: #f8f8f8;
  padding: 80px 0;
}

.clients img {
  display: inline-block !important;
  max-width: 70px !important;
}
/* Footer */
ul.contact-menu {
  margin: 0;
  padding: 0;
}

ul.contact-menu li {
  margin-bottom: 20px;
  font-size: 13px;
  color: #ddd;
}

footer.footer-area {
  background-color: #02295a;
  padding: 100px 0;
}

footer.footer-area h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  color: #fff;
}

footer.footer-area ul {
  margin: 0;
  padding: 0;
}

footer.footer-area ul li {
  margin-bottom: 5px;
}

footer.footer-area ul li a {
  font-size: 13px;
  color: #ddd;
}
.news-block img {
  float: left;
  margin-right: 20px;
  margin-top: 5px;
}

.news-block p {
  font-size: 13px;
  line-height: 24px;
  color: #ddd;
}

.footer-area p {
  font-size: 13px;
  line-height: 24px;
  color: #ddd;
}

.footer-area input[type="email"] {
  width: 100%;
  padding: 10px;
  background-color: #003f8d;
  border: 0;
  margin-bottom: 10px;
}

::-webkit-input-placeholder {
  color: #ddd;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
}

::-moz-placeholder {
  color: #ddd;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
}

:-ms-input-placeholder {
  color: #ddd;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
}

::-ms-input-placeholder {
  color: #ddd;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
}

::placeholder {
  color: #ddd;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
}

.footer-area input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #85af4b;
  border: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.footer-area input[type="submit"]:hover {
  background-color: #333;
}
.footer-social-icon {
  margin-top: 30px;
}
.footer-social-icon i {
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

i.fb {
  background-color: #365493;
}

i.tw {
  background-color: #33ccff;
}

i.gl {
  background-color: #d44132;
}

i.pn {
  background-color: #cb2027;
}
/* Footer Bottom */
.footer-bottom {
  background-color: #001b3d;
  padding: 40px 0 20px;
  color: #fff;
  text-transform: uppercase;
}

.footer-bottom i {
  color: #85af4b;
}

.footer-bottom ul {
  margin: 0;
  padding: 0;
}

.footer-bottom ul li {
  display: inline-block;
  margin-right: 11px;
}

.footer-bottom ul li a {
  font-size: 13px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
}
/* Bread Crumb  */
section.bread-crumb-area {
  background-size: cover;
  padding: 120px 0;
  background-position: center;
  position: relative;
}
section.bread-crumb-area {
  background-size: cover;
  padding: 120px 0;
  background-position: center;
  position: relative;
  z-index: 2;
}

section.bread-crumb-area::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #095dc7;
  left: 0;
  top: 0;
  opacity: 0.8;
  z-index: -1;
}

.braed-crumb h2 {
  font-size: 70px;
  color: #fff;
  line-height: 72px;
  margin-bottom: 20px;
}
.braed-crumb ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.braed-crumb ul li {
  margin-right: 15px;
}

.braed-crumb ul li a {
  color: #fff;
}
/* About Us */
.about-video {
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
}

.about-video::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0958b8;
  left: 0;
  top: 0;
  opacity: 0.8;
  z-index: 1;
}

a.video-icon i {
  position: absolute;
  font-size: 50px;
  color: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}
/* Blogs */
section.blogs-area {
  padding: 80px 0;
}
.single-blog {
  margin-bottom: 60px;
}
.single-blog h4 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 36px;
}

.single-blog h4 a {
  color: #111;
}

.blog-img {
  padding-top: 52%;
  background-position: center;
  background-size: cover;
}

.single-blog p {
  font-size: 14px;
  line-height: 25px;
}

.blog-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #eee;
  padding: 20px;
}

.blog-meta a {
  font-size: 12px;
  color: #999;
  margin-right: 22px;
}

.blog-meta a i {
  margin-right: 5px;
  font-size: 14px;
  color: #095dc7;
}

.blog-btn {
  font-size: 14px;
  color: #999;
}

.page-link {
  color: #ccc;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 20px;
}
.page-link:hover {
  background-color: #095dc7;
  color: #fff;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 50%;
}
.single-sidebar {
  margin-bottom: 30px;
}
.single-sidebar h4,
.single-blog-comments h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 48px;
  color: #111;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 35px;
  margin-top: -15px;
}

.single-sidebar h4::after,
.single-blog-comments h4::after {
  position: absolute;
  content: "";
  background-color: #095dca;
  width: 50px;
  height: 2px;
  left: 0;
  bottom: 0;
}

.single-sidebar p {
  font-size: 14px;
  line-height: 24px;
}

.single-sidebar form {
  position: relative;
}

.single-sidebar input[type="email"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
}
.single-sidebar button {
  visibility: hidden;
}
.single-sidebar button i {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #095dc7;
  background: transparent;
  border: 0;
  visibility: visible;
}
.single-sidebar h5 {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  color: #111;
}

.sidebar-meta {
  font-size: 14px;
}

.sidebar-meta i {
  color: #095dc7;
}

.sidebar-list {
  margin-bottom: 20px;
}

.sidebar-advertisde {
  padding: 50px 0;
}
.sidebar-advertisde img {
  width: 100%;
}
.sidebar-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 131%;
  gap: 15px;
}
/* Single Blog */
.single-blog-info {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.single-blog-info img {
  border: 2px dashed #ccc;
  border-radius: 50%;
  padding: 2px;
  margin-bottom: 20px;
}

.single-blog-info h5 {
  font-size: 25px;
  font-weight: 600;
  color: #111;
  text-transform: capitalize;
}
.single-blog-comments .footer-social-icon {
  margin-top: 0;
  margin-top: 30px;
}
.projects-page {
  padding: 80px 0;
}
ul.project-list li {
  margin-right: 40px;
  font-size: 14px;
  line-height: 30px;
  color: #111;
}
/* Contact */
section.contact-address-area {
  padding: 120px 0;
}

.single-contact i {
  font-size: 42px;
  color: #095dc7;
  line-height: 30px;
  margin-bottom: 50px;
}

.single-contact h4 {
  font-size: 21px;
  font-weight: 500;
  line-height: 60px;
}

.single-contact p {
  font-size: 14px;
  line-height: 28px;
}

.single-contact span {
  font-size: 21px;
  line-height: 48px;
  color: #111;
}
::-webkit-input-placeholder {
  text-align: left;
}
::-moz-placeholder {
  text-align: left;
}
:-ms-input-placeholder {
  text-align: left;
}
::-ms-input-placeholder {
  text-align: left;
}
::placeholder {
  text-align: left;
}
section.contact-form-area {
  background-color: #f8fafc;
  padding: 120px 0;
  text-align: center;
}

section.contact-form-area h4 {
  font-size: 36px;
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
  color: #111;
  margin-bottom: 50px;
}

a.btn-contact {
  background-color: #095dc7;
  padding: 7px 40px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
}
.contact-map iframe {
  width: 100%;
  vertical-align: middle;
  height: 450px;
}
